.topbar {
    height: 60px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 221, 221);
}

.logo {
    font-size: 24px;
    margin-left: 50px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchicon {
    margin-left: 16px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.searchinput {
    font-size: 16px;
    border: none;
    width: 70%;
    margin-left: 30px;
}

.searchinput:focus {
    outline: none;
}

.search {
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.left {
    flex: 3;
}

.center {
    flex: 4;
}

.right {
    flex: 5;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.topbaricons {
    display: flex;
    position: relative;
}

.fonticon {
    width: 46px;
    font-size: 22px;
    margin-left: 32px;
    margin-top: 6px;
    cursor: pointer;
}

.badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 40%;
    color: white;
    top: -5px;
    right: -5px;
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
}

.pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.logout {
    width: auto;
    border-style: solid;
    border-color: rgb(16, 16, 177);
    background-color: white;
    color: blue;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-radius: 10px;
}

.logoutbutton {
    padding-right: 2px;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: white;
}

.logoforum {
    font-size: 26px;
}

.menu {
    margin-top: 29px;
    margin-left: 22px;
    position: absolute;
}

.menuitem {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.friendlists {
    height: auto;
    padding: 4px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.friendlists:hover {
    background-color: rgb(237, 226, 226);
}

.pic {
    margin-left: 16px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.friendname {
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-left: 16px;
}

.notfound {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
}